@media (max-width: 1344px) {
  .contact {
    transform: translateX(-120px);
    transition: all 0.4s;
  }

  .contact:hover {
    transform: translate(-120px, -10px);
  }

  .header-container-outer,
  .header-container-inner {
    margin-left: 80px;
  }
}

@media (max-width: 1200px) {
  .header-container-inner,
  .header-container-outer {
    width: 750px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  .image-two,
  .front-image {
    width: 160px;
    height: 160px;
  }

  .contact {
    transform: translateX(-360px);
    transition: all 0.4s;
  }

  .contact:hover {
    transform: translate(-360px, -10px);
  }

  /* .header-container-inner {
    margin-left: 160px;
  } */
}

@media (max-width: 944px) {
  .dots {
    bottom: 20px;
    margin-left: 50px;
  }

  .header-container-inner,
  .header-container-outer {
    margin-top: 100px;
    width: 600px;
  }

  h1 {
    font-size: 35px;
  }

  p {
    font-size: 15px;
  }

  .image-two,
  .front-image {
    margin-top: 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .container {
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
  }

  .contact {
    text-align: center;
    width: 400px;
    margin: auto;
  }

  .header-container-inner {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .image-container {
    margin-right: 70px;
  }
  /*
  .presentation {
    position: absolute;
  } */

  html {
    overflow: hidden;
  }
}

@media (max-width: 744px) {
  .header-container-inner {
    margin-left: 250px;
  }
  .header-container-outer {
    margin-left: 50px;
  }

  html {
    overflow: hidden;
  }

  /* body {
    width: 120%;
  } */
}

@media (max-width: 680px) {
  .container {
    left: -40px;
  }
  .header-container-outer {
    margin-left: -140px;
    width: 400px;
  }
}

@media (max-width: 620px) {
  .header-container-inner,
  .header-container-outer {
    margin-top: 100px;
    margin-left: 350px;
    width: 400px;
  }
  .header-container-outer {
    grid-template-columns: 1fr 1fr;
    margin-left: -90px;
    row-gap: 5px;
    width: 300px;
  }

  .github-icon {
    transform: translateX(50px);
  }

  .dots {
    transform: translateY(-10px);
  }

  .contact {
    transform: translateX(-450px);
  }

  .btn--right {
    transform: scale(0.8);
  }

  .btn--left {
    transform: scale(0.8);
    transform: translateX(50px);
  }

  body {
    transform: translateY(-40px);
  }

  html {
    overflow: hidden;
  }
}

/* @media (max-height: 590px) {
  header {
    height: 100vh;
  }

  .header-container {
    top: 30%;
  }

  .contact {
    transform: translateX(-360px);
  }
}

@media (max-height: 480px) {
  header {
    height: 100vh;
  }

  .header-container {
    top: 20%;
  }

  .contact {
    transform: translateX(-360px);
  } 
} */
